@model Category

@*Form Start*@
<form method="post">
    <div class="border p-3 mt-4">
        <!-- Title -->
        <div class="row pb-2">
            <h2 class="text-primary">Create Category</h2>
            <hr/>
        </div>

        <!-- Validation Summary -->
        <div asp-validation-summary="ModelOnly"></div>

        <!-- Category Name -->
        <div class="mb-3 row">
            <label asp-for="Name" class ="p-0"></label>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        
        <!-- Display Order -->
        <div class="mb-3 row">
            <label asp-for="DisplayOrder" class="p-0"></label>
            <input asp-for="DisplayOrder" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        @*Buttons*@
        <div class="row">
            <div class="col-6 col-md-3">
                @*Submit Button*@
                <button type="submit" class="btn btn-primary form-control">Create</button>
            </div>

            <div class="col-6 col-md-3">
                @*Go Back Button*@
                <a asp-controller="Category" asp-action="Index" class="btn btn-secondary border form-control">Go Back</a>
            </div>
        </div>
    </div>
</form>
